h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600; 
  
  p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  #my-work {
    margin-top: 20px; /* Adjust this value as needed to move it closer */
  }
  
  .my-work-heading {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  }