.header {
  background: linear-gradient(135deg, #1a2a6c, #7b2cbf, #ff6f91, #0f2027);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  color: #fbfbfb; /* Soft white text */
}

.contact {
    background: linear-gradient(135deg, #1a2a6c, #7b2cbf, #ff6f91, #0f2027);
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-gradient {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.9),
    rgba(240, 240, 240, 0.8),
    rgba(220, 220, 220, 0.7),
    rgba(255, 255, 255, 0.9)
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-outline-light:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fbfbfb;
  border-color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

// .header::after {
//   content: '';
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
// }

.header .roles {
  font-family: "lora-regular", serif;
}

.header .social {
  bottom: 50px;
}

.about-img {
  width: 200px;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

@media (max-width: 767px) {
  .header .social i {
    font-size: 30px;
  }

  .header .roles {
    font-size: 18px !important;
  }

  .about-content {
    flex-direction: column;
  }
}

.skill-box {
  border: 2px solid var(--bs-primary) ;!important /* Use Bootstrap's primary color */
  border-radius: 8px; /* Add rounded corners */
}

